.chat{
    display: inline-block; 
    background-color: aqua;
}

.messages{
    width: 70%;
    display: inline-block; 
}

.online_users{
    width: 30%;
    display: inline-block; 
}

.send_message{
    display: flex;
}